---

---

<footer class="footer">
    <p>© 2025 My Website</p>
</footer>

<style>
    /* Footer Start */
    .footer {
        background-color: hsl(0, 0%, 25%);
        color: white;
        text-align: center;
        padding: 0;
        width: 100%;
        align-items: flex-end;
    }
    /* Footer End */
</style>
