---
//import { Image } from "astro:assets";
//import Logo from "../assets/_Logo.png";
import "@fontsource-variable/open-sans";
import "../styles/global.css";
---

<header class="header">
    <nav>
        <a href="/" class="logo">
            <!--<Image src={Logo} alt="My Image" width="26" height="26" />-->
            <img src="/_Logo.png" alt="Logo" width="26" height="26" />
            <span> &nbsp;&gt;&nbsp; Home </span>
        </a>
        <ul class="menu">
            <li><a href="/projects">Projects</a></li>
            <li><a href="/ideas">Ideas</a></li>
            <li><a href="#">Useful Links</a></li>
            <li><a href="finds">Finds</a></li>
        </ul>
    </nav>
</header>

<style>
    .header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: var(--color-text-base);
        border-bottom: 2px solid cyan;
        box-shadow: 2px 9px 18px 0 cyan;
        padding: 10px 20px;
        z-index: 1000;
    }
    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: var(--step-1);
    }
    .menu {
        font-size: var(--step-0);
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 32px;
        width: 100%;
    }
    /*nav {
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
        height: 54px;
        border-bottom: 2px solid cyan;
        box-shadow: 2px 9px 18px 0 cyan;
    }*/
    nav a {
        background-size: 0%;
        background-image: linear-gradient(var(--color-link-bg) 0 0);
        background-repeat: no-repeat;
        color: white;
        text-decoration: none;
        transition: 0.4s;
        padding: 0 0.25em;
    }
    nav a:hover {
        color: var(--color-link-dark);
        background-size: 100%;
        text-decoration: none;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        gap: 1rem;
    }

    nav ul li {
        display: inline;
    }
</style>
