---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
    <div class="content-wrapper">
        <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
        <slot />
    </div>
</Layout>
